html {
  overflow-x: hidden;
}

body {
  background-color: $body-background-color;
  color: color(text-color);
  font-family: $body-font-family;
  overflow-x: hidden;
  position: relative;
}

main {
  min-height: calc(100vh - #{$header-height} - #{$footer-height});
}
