.button {
  text-transform: none;

  &-group {
    a,
    button {
      &:last-child {
        margin-left: rem-calc(12px);
      }
    }
  }

  &.primary {
    @include button-style($background: color(primary), $background-hover: #fa4b51,  $color: color(white));

    svg {
      fill: color(white);
    }
  }

  &.secondary {
    border: 1px solid color(lighter-gray);

    &:hover {
      background-color: #fcfcfc;
    }
  }

  &.clear {
    line-height: inherit;
  }
}

