.button {
  font-size: rem-calc(14px);
  text-transform: none;

  &-group {
    a,
    button {
      &:last-child {
        margin-left: $global-margin;
      }
    }
  }

  &.clear {
  padding: 0;

    &:first-of-type {
      padding-right: $global-padding;
    }

    &.primary {
      @include button-clear-style($color: color(primary), $hover-lightness: -30%);

      svg {
        fill: color(primary);
      }
    }
  }

  &.hollow {
    &.primary {
      border: 1px solid color(primary);
      color: color(primary);
    }
  }

  &.primary.filled {
    @include button-style($background: color(primary), $background-hover: #fa4b51,  $color: color(white));

    svg {
      fill: color(white);
    }
  }

  &.white {
    &:hover {
      background-color: #fcfcfc;
    }
  }
}
