.card {
  background-color: color(white);
  border: 1px solid color(lighter-gray);
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-family: $body-font-family;
  margin-bottom: $global-margin;
  padding: $global-padding;

  @include breakpoint(tablet) {
    flex-direction: row;
    padding: 2 * $global-padding;
  }

  &__meta {
    padding-bottom: $global-padding;

    @include breakpoint(tablet) {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      padding: 0 2 * $global-padding 0 0;
    }
  }

  &__buttons {
    padding-top: $global-padding;

    & > :first-child {
      padding-right: $global-padding;
    }

    @include breakpoint(tablet) {
      align-items: flex-end;
      display: flex;
      flex: 0 0 auto;
      justify-content: flex-end;
      padding-top: 0;
    }
  }

  &__button {
    color: color(black);
    line-height: 1;
    padding: 0;
  }

  &__body {
    //padding-bottom: $global-padding;

    @include breakpoint(tablet) {
      //flex: 1 1 auto;
      //padding: 0 2 * $global-padding;
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__heading {
    font-family: $body-font-family;
    font-size: rem-calc(16px);
    font-weight: 600;

    @include breakpoint(tablet) {
      font-size: rem-calc(18px);
    }
  }

  &__text {
    color: color(black);
    font-size: 14px;
    margin-bottom: 0.5 * $global-margin;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__status {
    fill: color(primary);

    &.icon {
      height: 1.5rem;

      @include breakpoint(tablet) {
        height: 2rem;
      }
    }
  }

  &__summary {
    font-size: rem-calc(26px);
    font-weight: 600;
    margin-bottom: 0;
  }
}
