.form {
  &__footer {
    display: flex;
    justify-content: flex-end;
    padding-top: $global-padding;
  }

  &-select {
    display: flex;
    flex: 0 0 auto;
    width: auto;
  }

  &-error {
    align-items: center;
    color: color(alert);
    display: flex;
    flex: 1 1 100%;
    font-size: 14px;
    font-weight: 400;
  }
}
