.service {
  &__heading {
    font-size: rem-calc(18px);
    font-weight: 600;
    letter-spacing: normal;
    text-transform: none;
    word-spacing: normal;
  }

  &__icon {
    fill: color(primary);
    padding-bottom: $global-padding;

    .icon {
      height: 3rem;
      width: 3rem;

      @include breakpoint(tablet) {
        height: 3.6rem;
        width: 3.6rem;
      }
    }
  }
}
