// Import base ui colors
@import "ui/foundation/colors";

$foundation-palette: map-merge(
  $foundation-palette,
  (
    primary: #ff5a5f,
    secondary: #fff,
    dark-gray: #f3f3f3,
    "black": #303030,
    text-color: #303030,
  )
);

// Import base ui settings
@import "ui/settings";

// Font settings
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');
$heading-font-family: "Playfair Display", serif;
$body-font-family: "Poppins", sans-serif;
$body-font-color: color(text-color);

// Global settings
$border-radius: 6px;
$box-shadow:  rgba(color(black), 0) 0 0 0 0, rgba(color(black), 0) 0 0 0 0, rgba(color(black), 0.1) 0 1px 3px 0, rgba(color(black), 0.1) 0 1px 2px -1px;
$button-radius: $border-radius;
$body-background-color: #f3f4f7;
$footer-height: 100px;
$header-height: 100px;
$input-border: 1px solid color(lighter-gray);
$input-padding: 0.5rem 12px;
$input-radius: $border-radius;


