@import "foundation/globals";

$foundation-palette: map-merge(
    $foundation-palette,
    (
      primary: #c1a1a1,
      secondary: #8c8c77,
      third: #3f4a35,
      dark-gray: #6b7280,
      beige: #e0d4ca,
      black: #171717,
      text-color: #111827,
    )
);

// Global settings
$body-background-color: rgba(color(beige), 0.2);
$footer-height: 100px;
$header-height: 100px;

// Font settings
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
$heading-font-family: "Poppins", sans-serif;
$body-font-family: "Poppins", sans-serif;
